.grids-container {
    padding: 25px 35px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-top: none;
}
.modal-backdrop {
    opacity: .7;
}
.preloader {
    width: 32px;
    height: 32px;
    background: url(../img/preloader.gif) no-repeat;
    float: right;
}
.date-cell {
    white-space: nowrap;
}

#js-posts-grid>tbody>tr {
    cursor: pointer;
}